<div {{ attributes }}>
    {{ form_start(form) }}
    {{ form_row(form.bookingDate) }}
    {{ form_row(form.bookingTimeSlot) }}
    {{ form_row(form.duration) }}
    {{ form_row(form.labSet) }}
    {{ form_row(form.description) }}

    <button>Save</button>
    {{ form_end(form) }}
</div>